DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=db_password
DB_NAME=storageManagement

NODE_ENV=development
BCRYPT_SALT_ROUNDS=12
DB_SYNCHRONIZE=true

JWT_SECRET="927209edaa3309682e2de2019ec0f5af8c5607b9eb9a3f0d8e7310b9e776946a"
JWT_EXPIRES_IN=1d

